@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: copperlate-normal;
  src: url(../assets/fonts/OPTICopperplate.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

a {
  text-decoration: none;
  color: white;
}

header {
  background-color: black;
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: sticky;
  top: 0;
}

nav ul {
  padding: 0;
  margin: 2rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.logo {
  width: 7.8125rem;
  height: inherit;
}

.nav-item {
  display: flex;
  text-align: center;
  color: white;
  padding: 2rem;
}

.nav-item:hover{
  background-color: lightgray;
  color: black;
}

.grid-container{
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: 
  "item1 item2 item3";
  
  .disclaimer{
    color: white;
    grid-area: item1;
    justify-self: center;
    align-self: center;
  }

  .redes{
    grid-area: item2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
  }

  .redes img {
    width: 2rem;
  }

  .search{
    grid-area: item3;
    display: flex;
    gap: .3125rem;
    justify-content: center;
    align-items: center;
  }

  .search div input{
    width: 20rem;
    height: 2rem;
  }
  .search div button{
    width: 5rem;
    height: 2rem;
    border-radius: .4375rem;
    border-style: solid;
  }
    .search div button:hover{
      border-color: #0D6EFD;
  }
}

.grid-container div {
  margin: 2rem;
}

/* INDEX */

.title{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.title h1{
  font-family: copperlate-normal;
  font-weight: bold;
}

.ultimo-lanzamiento div h2{
  margin: 0 0 1rem 1rem;
}

.ultimo-lanzamiento {
  margin-top: 2rem;
  width: 100%;
  height: 50rem;
}
.ultimo-lanzamiento iframe {
  height: 50rem;
  width: 100%;
  margin: 0;
}

.proximo-disco {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url(../assets/images/voices-in-my-head.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 40rem;
}

.proximo-disco article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proximo-disco img {
  width: 25rem;
}

.proximo-disco h2 {
  color: white;
  text-align: center;
}
.proximo-disco h3 {
  color: white;
  text-align: center;
}
.proximo-disco p {
  color: white;
  text-align: center;
}

.tour div{
  margin: 2rem;
  display: flex;
  justify-content: center;
}

.tour img {
  width: 100%;
}

.playlist div h2{
  margin: 1rem 0 1rem 1rem;
}

/* CONCIERTOS */

.next-tour {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.tour-dates {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tour-dates table {
  display: flex;
  flex-direction: row;
  text-align: center;
}

section table a {
  color: black;
}

/* TIENDA */

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products h1 {
  margin: 2rem;
}

.catalogo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 7.5rem;
  margin: 2rem;
}

.catalogo .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.125rem solid black;
  box-shadow: 2rem 2rem 5rem rgb(39, 38, 38);
  width: 100%;
  width: 25rem;
  margin: 3rem;
}

.catalogo .card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-content img {
  width: 15rem;
  align-self: center;
}

.card button {
  padding: 1rem;
  margin: 0.3rem;
}

/* SOBRE LA BANDA */

.band-info{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center; 
  flex-wrap: wrap;
  margin-top: 2rem;
  padding: 0 13rem 0 13rem;
}

.band-members {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.band-members .card-content img{
  width: 100%;
}

.band-members .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 0.125rem solid black;
  box-shadow: 2rem 2rem 5rem rgb(39, 38, 38);
  width: 100%;
  margin: 3rem;
  padding: 2rem;
}

.band-members .card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* CONTACTO */

.form-container{
  margin-left: 1rem
}