
.tour img{
    height: 45rem;
}

.next-tour {
  @include flex(row, nowrap, center, center, none);
  margin: 1rem;
}

.tour-dates {
  table {
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
    border-collapse: collapse;
    th, td {
      padding: 1rem;
      border: .0625rem solid #ddd;
    }
    th {
      background-color: #f2f2f2;
    }
    a {
      color: map-get($colores, color1);
    }
  }
}
