@media (min-width: 1036px) and (max-width: 1280px) {
  /* HEADER */
  header {
    width: 100%;

    .logo {
      width: 5rem;
    }
    .nav-bar ul {
      margin: 0 0 0 2rem;
      gap: 2rem;
      .nav-item {
        padding: 1rem;
      }
    }
  }

  /* FOOTER */

  .grid-container .search {
    display: flex;
    text-align: center;
    div input {
      width: 5rem;
      margin-bottom: 1rem;
    }
  }

  /*INDEX*/

  /* PROXIMO DISCO */

  .proximo-disco {
    background-size: 100% 100%;
    margin-bottom: 0;
    article img {
      width: 20rem;
    }
  }

  /* TIENDA */

  .catalogo {
    flex-direction: column;
    .card {
      width: 60vh;
      height: 50vh;
      margin: 1rem 0;
      .card-content img {
        width: 10rem;
      }
    }
  }

  /* CONCIERTOS */

  th,
  td {
    padding: 1rem;
  }

  /* SOBRE LA BANDA */

  .band-members {
    flex-wrap: wrap;
    .card {
      width: 50vh;
    }
    .card-content img {
      width: 100%;
    }
  }
}
